/****************GENERELT UDSEENDE********************/

/* {
    box-sizing: border-box;
}*/

img {
    max-width: 100%;
}


header {
    position: absolute;
    width: 100%;
}

body {
    margin: 0px;
    line-height: 0;
    background-color: floralwhite;
}

a {
    font-family: 'Source Code Pro';
    font-size: 1rem;
    text-decoration: none;
    color: white;
}


h1 {
    font-family: 'Source Code Pro';
    line-height: 0rem;
    font-size: 1.7rem;
    text-transform: uppercase;
    font-weight: 700;

}

h2 {
    font-family: 'Source Code Pro';
    font-size: 1rem;
    text-transform: uppercase;

}

h3 {
    font-family: 'Source Code Pro';
    text-transform: uppercase;
    font-size: 0.8rem;
}

p {
    font-family: 'Roboto';
    font-size: 1rem;
    line-height: 1.5rem;
}



/*******************MENUBAR********************/


.hidden {

    transform: scale(0);
    position: relative;

}

#menuknap {
    position: relative;
    display: inline-block;
    width: 2.9rem;
    font-size: 2.6rem;
    font-family: Montserrat;
    color: #d2d2d2;
    margin-top: 0.5rem;
    cursor: pointer;

}


#menuknap:hover {
    color: #e6e6e6;
    transform: scale(1.05);
}




#menu {
    list-style-type: none;
    transition: transform 1s;
    transform-origin: top right;
    position: absolute;
    background-color: white;
    z-index: 1;
    right: 1rem;
    left: 1rem;
    top: 3.1rem;
    box-shadow: 2px 8px 16px 2px rgba(0, 0, 0, 0.2);
    padding-left: 0;
    padding-bottom: 1rem;
    padding-top: 1rem;


}

#menu a {
    display: flex;
    justify-content: center;
    font-family: 'Source Code Pro';
    text-decoration: none;
    color: black;
    padding: 1.5rem;


}

#menu a:hover {
    color: #d2d2d2;


}

.siteheader {
    display: none;

}



.mobilenav {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 4.1rem;
}


.mobilenav img {
    max-width: 2.8rem;
    margin-left: 1rem;
}

.mobilenav img:hover {
    max-width: 3rem;
    margin-left: 1rem;
}

header {
    width: 100%;
    display: inline;
    position: fixed;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

/*****MENU BAR TABLET*****/

@media only screen and (min-width:400px) {
    header img {
        max-width: 12rem;
        margin-left: 2rem;
    }
}

/******MENU BAR DESCTOP******/

@media only screen and (min-width: 945px) {
    .mobilenav {
        display: none;
    }

    .dropdowndesktop {
        float: left;
        overflow: hidden;



    }

    .dropdowndesktop .portfolie {
        font-family: 'Source Code Pro';
        font-size: 0.9rem;
        color: white;
        text-align: right;
        outline: none;
        line-height: 1.2rem;
        margin-left: 4rem;
        margin-right: 4rem;
        font-weight: 600;



    }

    /*POPNEDVINDUE*/

    .dropdown-contentdesktop {
        display: none;
        position: absolute;
        background-color: white;
        box-shadow: 2px 8px 16px 2px rgba(0, 0, 0, 0.2);
        left: 27vw;
    }

    .dropdown-contentdesktop a {
        padding: 20px;
        font-weight: 500;
        display: block;
        text-align: center;
        color: black;
    }

    .dropdown-contentdesktop a:hover {

    }

    .dropdowndesktop:hover .dropdown-contentdesktop {
        display: block;






    }


    header .siteheader {
        height: 3.1rem;
        width: 100%;
        background-color: black;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        line-height: 3rem;
        padding-top: 1rem;
    }

    .siteheader a:hover {
        color: #d2d2d2;




    }

    header .portfolie:hover {
        transform: scale(2);

    }

    header nav a {
        text-decoration: none;
        color: white;
        margin-left: 4rem;
        margin-right: 4rem;
        font-weight: 700;

    }

    header a {
        line-height: 1.2rem;
        font-size: 0.9rem;
        top: 2rem;



    }






    header img {
        max-width: 2.8rem;
        margin-left: 1rem;
    }


    header img:hover {
        max-width: 3rem;
        margin-left: 1rem;

    }

    .siteheader nav {
        margin-right: 0rem;

    }

    .logo {
        position: absolute;
        left: 0;


    }

}

































#index {
    width: 100%;
    height: 50rem;
    background-color: floralwhite;

}




.alle {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}




.overskrift {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem;
    padding-top: 4.7rem;
    width: 23.1rem;



}


.knap {
    width: 18rem;
    height: 3rem;
    border-radius: 0rem;
    border-style: solid;
    border-color: black;
    border-width: 0.1rem;
    text-align: center;
    margin: auto;
    margin-top: 0rem;
    margin-bottom: 1rem;

    background-color: white;




}


.knap2 {
    width: 17rem;
    height: 3rem;
    border-radius: 0rem;
    border-style: solid;
    border-color: black;
    border-width: 0.1rem;
    text-align: center;
    margin: auto;
    margin-top: 0rem;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    background-color: white;




}




.knap h3 {
    color: black;
    padding-top: 0.7rem;

}



.knap2 h3 {
    color: black;
    padding-top: 0.7rem;

}

.column_big {
    padding: 2rem;
    padding-bottom: 0rem;
    padding-top: 5rem;
}


.column_big:hover {
    opacity: 0.8;
    transform: scale(1.01);

}






.column_small {
    padding: 2rem;
    padding-top: 0rem;
    padding-bottom: 0rem;


}


.knap:hover {
    opacity: 0.5;
    transform: scale(1.01);

}

.knap2:hover {
    opacity: 0.5;
    transform: scale(1.01);

}


/*********PORTFOLIO tablet***********/

@media only screen and (min-width: 400px) {



    .alle {
        display: flex;
        flex-wrap: wrap-reverse;
        flex-direction: row;
        justify-content: center;
    }

    .column_big_img {
        max-width: 500px;
        padding-top: 2rem;


    }

    .overskrift {

        padding-top: 2.7rem;

    }
}










/*********PORTFOLIE desctop**************/

@media only screen and (min-width: 945px) {

    .column_small {
        padding: 2rem;
        padding-right: 0rem;
        padding-top: 5.5rem;



    }

    .knapper {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;

    }

    .column_big {
        padding: 2rem;
        padding-bottom: 0rem;
        padding-top: 9rem;


    }


}









/*OM*/



#om {
    background-color: black;

}



#om .alle {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

}




#om .overskrift {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem;
    padding-top: 0rem;
    width: 23.1rem;
    color: white;



}




#om .column_big {
    padding: 2rem;
    padding-bottom: 6rem;
    padding-top: 0rem;
}


#om .column_big:hover {
    opacity: 0.5;
    transform: scale(1.01);

}






#om .column_small {
    padding: 2rem;
    padding-top: 0rem;
    padding-bottom: 0rem;


}



#om .column_om {
    padding: 2rem;
    padding-top: 0rem;
    padding-bottom: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    border-top: 0.1rem solid white;



}

#om .overskrift2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem;
    padding-top: 6rem;
    width: 23.4rem;
    color: white;




}

#om .billeder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

}

#om .column_bil1 {

    margin: 1.5rem;
    max-width: 9rem;

}


#om .column_bil1:hover {
    margin: 1.5rem;
    transform: scale(5);


}

#om .column_bil2 {

    margin: 1.5rem;
    max-width: 9rem;

}


#om .column_bil2:hover {
    margin: 1.5rem;
    transform: scale(5);


}



#om .column_bil3 {

    margin: 1.5rem;
    max-width: 6rem;

}


#om .column_bil3:hover {
    margin: 1.5rem;
    transform: scale(5);


}



#om .column_bil4 {

    margin: 1.5rem;
    max-width: 6rem;

}


#om .column_bil4:hover {
    margin: 1.5rem;
    transform: scale(5);
}


#om .column_bil5 {

    margin: 1.5rem;
    max-width: 7.5rem;

}


#om .column_bil5:hover {
    margin: 1.5rem;
    transform: scale(5);
}







#om .vaerker {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

}

#om .column_vaerk1 {

    margin: 1.5rem;
    max-width: 9rem;

}


#om .column_vaerk1:hover {
    margin: 1.5rem;
    transform: scale(3.5);


}

#om .column_vaerk2 {

    margin: 1.5rem;
    max-width: 9rem;

}


#om .column_vaerk2:hover {
    margin: 1.5rem;
    transform: scale(3.5);


}



#om .column_vaerk3 {

    margin: 1.5rem;
    max-width: 6rem;

}


#om .column_vaerk3:hover {
    margin: 1.5rem;
    transform: scale(4.5);


}



#om .column_vaerk4 {

    margin: 1.5rem;
    max-width: 6rem;

}


#om .column_vaerk4:hover {
    margin: 1.5rem;
    transform: scale(4);
}




.kontakt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 10rem;



}


.kontakt img {
    max-height: 4rem;
    margin: 2rem;



}

.kontakt img:hover {
    transform: scale(1.1);
    margin: 2rem;
    filter: grayscale(50%);



}




@media only screen and (min-width: 400px) {



    #om .alle {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;

    }

    #om .column_big_img {
        max-width: 400px;
    }




    #om .column_small {

        padding-top: 7rem;



    }

    #om .column_bil1:hover {
        transform: scale(3.5);
    }

    #om .column_bil2:hover {
        transform: scale(3.5);
    }

    #om .column_bil3:hover {
        transform: scale(3.5);
    }

    #om .column_bil4:hover {
        transform: scale(3.5);

    }

    #om .column_bil5:hover {
        transform: scale(5);


    }

    #om .billeder {

        flex-direction: column;

    }

    #om .vaerker {

        flex-direction: column;
    }







}











/*********OM desctop**************/

@media only screen and (min-width: 945px) {





    #om .column_small {
        padding: 2rem;
        padding-right: 0rem;
        padding-top: 8rem;


    }



    #om .column_big {
        padding: 2rem;
        padding-bottom: 6rem;
        padding-top: 5rem;


    }

    #om .billeder {

        flex-direction: row;

    }

    #om .vaerker {

        flex-direction: row;




    }

    #om .column_bil1:hover {
        transform: scale(5);
    }

    #om .column_bil2:hover {
        transform: scale(4);
    }

    #om .column_bil3:hover {
        transform: scale(4.5);
    }

    #om .column_bil4:hover {
        transform: scale(5);
    }

    #om .column_bil5:hover {
        transform: scale(6);



    }

    .kontakt img {
        max-height: 6rem;
        padding: 2rem;
        padding-top: 5rem;
    }


    .kontakt img:hover {
        transform: scale(1.1);
        margin: 2rem;
    }




    .kontakt {
        flex-direction: row;
    }
}













/*STARTSIDE*/



.ufo {
    animation-name: trille_kf;
    animation-duration: 10s;
    animation-iteration-count: 1;

}



@keyframes trille_kf {



    25% {

        top: 35vw;
        left: 45vw;
        transform: scale(3.6);

    }

    33% {
        top: 42vw;
        left: 3vw;
        transform: scale(4.3);
    }

    42% {
        top: 50vw;
        left: 38vw;
        transform: scale(4.6);
    }


    50% {
        top: 40vw;
        left: 46vw;
        transform: scale(4.6);
    }

    70% {

        top: 32vw;
        left: 50vw;
        transform: scale(5.3);
    }

    100% {
        top: 32vw;
        left: 50vw;
        transform: scale(5.3);
    }

}





#light_container {
    position: absolute;
    top: 12.5vw;
    left: 100vw;
    transform: scale(0);

}

#light_sprite {
    background-image: url(lys.png);
    width: 6vw;
    height: 18vw;
    background-size: 100%;
    cursor: pointer;
}


.light {
    animation-name: udvid_kf;
    animation-duration: 10s;
    animation-iteration-count: 1;

}

@keyframes udvid_kf {



    0% {
        top: 13vw;
        left: 48vw;
        opacity: 0;


    }


    15% {
        top: 13vw;
        left: 48vw;
        opacity: 0;

    }

    25% {
        top: 13vw;
        left: 48.5vw;
        opacity: 0;

    }

    25% {
        top: 13vw;
        left: 48vw;
        opacity: 0;

    }

    69% {

        top: 13vw;
        left: 48vw;
        filter: drop-shadow(1px 1px 10px yellow);
        opacity: 0;
        transform: scaleX(0);

    }

    100% {
        top: 13vw;
        left: 48vw;
        opacity: 0.5;
        transform: scaleX(1);

    }



}















#ufo_elements {
    width: 100%;
    height: 100%;
    position: absolute;
}








#ufo_container {
    position: absolute;
    top: 3.4vw;
    left: 50%;
    transform: scale(0);


}

#ufo_sprite {
    background-image: url(ufo.svg);
    width: 2vw;
    height: 0.7vw;
    background-size: 100%;
    cursor: pointer;




}









.ufo {
    animation-name: trille_kf;
    animation-duration: 12s;
    animation-iteration-count: 1;

}

@keyframes trille_kf {





    0% {

        top: 7vw;
        left: 100%;

        filter: drop-shadow(1px 1px 20px yellow);

    }


    20% {

        top: 15vw;
        left: 45vw;
        transform: scale(3.6);
        filter: drop-shadow(1px 1px 10px yellow);

    }

    28% {
        top: 22vw;
        left: 3vw;
        transform: scale(4.3);
        filter: drop-shadow(1px 1px 10px yellow);

    }

    37% {
        top: 30vw;
        left: 38vw;
        transform: scale(4.6);
        filter: drop-shadow(1px 1px 10px yellow);

    }


    45% {
        top: 20vw;
        left: 46vw;
        transform: scale(4.6);
        filter: drop-shadow(1px 1px 10px yellow);

    }

    65% {

        top: 12vw;
        left: 50vw;
        transform: scale(5.3);
        filter: drop-shadow(1px 1px 10px yellow);

    }

    90% {
        top: 12vw;
        left: 50vw;
        transform: scale(5.3);
        filter: drop-shadow(1px 1px 10px yellow);

    }

    100% {
        top: 7vw;
        left: 100vw;
        transform: scale(1);
        filter: drop-shadow(1px 1px 20px yellow);

    }



}







#navn_elements {
    width: 100%;
    height: 100%;
    position: absolute;
}



#tekst_elements {
    width: 100%;
    height: 100%;
    position: absolute;
}





#port_container {
    position: absolute;
    top: 19vw;
    left: 26vw;

}

#port_sprite {
    background-image: url(port1.svg);
    width: 50vw;
    height: 20vw;
    background-size: 100%;
    cursor: pointer;




}








#madsolo_container {
    position: absolute;
    top: 33vw;
    left: 41vw;

}

#madsolo_sprite {
    background-image: url(madsolo.svg);
    width: 20vw;
    height: 12vw;
    background-size: 100%;




}

.port {
    animation-name: port_kf;
    animation-duration: 20s;
    animation-iteration-count: 1;

}

@keyframes port_kf {



    0% {
        top: 2vw;
        left: 26vw;
        opacity: 0;

    }

    38% {

        top: 2vw;
        left: 26vw;
        transform: scale(0);
        opacity: 0;




    }

    50% {
        top: 19vw;
        left: 26vw;
        transform: scale(0.15);
        opacity: 1;



    }

    66% {
        top: 19vw;
        left: 26vw;
        transform: scale(0.15);
    }



}




.madsolo {
    animation-name: name2_kf;
    animation-duration: 30s;
    animation-iteration-count: 1;

}

@keyframes name2_kf {




    0% {
        top: 33vw;
        left: 41vw;
        opacity: 0;

    }

    55% {

        top: 33vw;
        left: 41vw;
        opacity: 0;




    }

    100% {
        top: 33vw;
        left: 41vw;


    }



}


